@font-face {
  font-family: 'Sisterhood';
  src: url('./assets/fonts/Sisterhood.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.past-meeting-card {
  background-color: #e9ecef !important;  /* Light gray */
  color: #6c757d !important;             /* Muted text */
  opacity: 0.8 !important;               /* Slightly faded */

}

